<mat-toolbar color="primary" role="navigation">
  <img src="/Frontend-master/Frontend-master/src/assets/images/logo.jpg" alt="TuChamba Logo" class="logo" aria-label="Company logo" />
  <span class="toolbar-title" aria-label="App Title">TuChambaMásCerca </span>

  <!-- Espaciador para separar título de botones -->
  <span class="spacer"></span>

  <button mat-button (click)="navigateTo('/epic01')">Recommendations</button>
  <button mat-button (click)="navigateTo('/epic01/detail')">New Recommnendation</button>
  <button mat-button (click)="navigateTo('/epic02')">Ratings</button>
  <button mat-button (click)="navigateTo('/epic03')">Search</button>
  <button mat-button (click)="navigateTo('/epic04')">Messages</button>
  <button mat-button (click)="navigateTo('/epic04/contact')">Contact</button>
  <button mat-button (click)="navigateTo('/epic05')">Chatbot</button>
  <button mat-button (click)="navigateTo('/epic06')">Profile</button>
  <button mat-button (click)="navigateTo('/epic07/best')">Best Ranking</button>
  <button mat-button (click)="navigateTo('/epic07/worst')">Worst Ranking</button>
  <button mat-button (click)="navigateTo('/epic08')">Map & Alerts</button>
  <button mat-button (click)="navigateTo('/epic09')">i18n & a11y</button>
  <button mat-button (click)="navigateTo('/epic10')">Security</button>

  <ng-container *ngIf="isPremium">
    <button mat-button (click)="navigateTo('/payments')">Premium Zone</button>
  </ng-container>
</mat-toolbar>
