.full-width {
  width: 100%;
  margin-bottom: 16px;
  background: linear-gradient(90deg, #00c6ff, #0072ff); /* azul vibrante degradado */
  color: #fff;
  padding: 14px;
  border-radius: 12px;
  font-weight: 700;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0, 114, 255, 0.4);
}
